@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.mainScreen {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
.title-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 95%;
  height: auto;
  color: black;
}
.header {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.appicon {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  align-self: top;
}

.green-background {
  width: 25%;
}

.lotus {
  position: absolute;
  bottom: 10px;
  justify-content: center;
  width: 10%;
}
.app-title-header {
  padding-top: 5px;
  padding-right: 5px;
  font-family: "Jua", sans-serif;
  font-size: 2rem;
}
.dash-title {
  margin-top: 100px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.emoji-icon-row1 {
  margin-top: -50px;
}
.emoji-icon-row2 {
  margin-top: -60px;
}
.emoji-btn {
  padding-right: 20px;
  padding-left: 10px;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.app-slogan-header {
  padding-top: 5px;
  padding-right: 5px;
  font-family: "Comic Neue", cursive;
  font-size: 1rem;
  margin-top: -15px;
  padding-bottom: 1rem;
}
.dash-button-background {
  margin-top: -50px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.dash-button-background:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.side {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.k {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.kk {
  transform: scale(1.4);
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin-y: 7.5rem;
}

.picandpercent {
  text-align: center;
  height: 170px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Jua", sans-serif;
  color: black;
}

.fat {
  text-align: center;
  font-size: 2rem;
}
