@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.mainScreen {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 95%;
  height: auto;
  color: black;
}

.icon {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  align-self: top;
}

.green-background {
  width: 30%;
}

.app-title {
  padding-right: 1rem;
  font-family: "Jua", sans-serif;
  font-size: 5rem;
}

.app-slogan {
  font-family: "Comic Neue", cursive;
  font-size: 1rem;
  padding-right: 1rem;
  margin-top: -15px;
  padding-bottom: 1rem;
}

.button-background {
  margin-top: 1rem;
  width: 35%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.btns {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: auto;
}
.btns :hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
