.mainScreen {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 95%;
  height: auto;
}

.icon {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  align-self: top;
}

.green-background {
  width: 30%;
}
.btns {
  margin-top: 1em;
  width: 35%;
  display: flex;
  flex-direction: column;
}
.getStartedbtn {
  justify-content: right;
}
