@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.mainScreen {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 95%;
  height: auto;
  color: black;
}
.header {
  margin-top: -100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.icon {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  align-self: top;
}

.green-background {
  width: 25%;
}

.lotus {
  justify-content: center;
  width: 10%;
}
.app-title {
  padding-right: 5px;
  font-family: "Jua", sans-serif;
  font-size: 2rem;
}

.app-slogan {
  padding-top: 5px;
  padding-right: 5px;
  font-family: "Comic Neue", cursive;
  font-size: 1rem;
  margin-top: -15px;
  padding-bottom: 1rem;
}
