@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Jua&display=swap");

.mainScreen {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
